.icon-btn {
  background: none;
  border: none;
  color: inherit;
}
.icon-btn:focus {
  outline: none
}
.line-height {
  line-height: 38px
}
.cursor-hand:hover {
  cursor: pointer;
}
.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #999;
  text-align: center;
}
.left-panel, .right-panel {
  min-height: 100vh;
}
.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.no-border {
  border-radius: 0 !important;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: none !important
}
